@import 'styles/variables.scss';

.navbar-logo {
    height: 40px;
    width: auto;
    max-height: 100%; // Ensure the logo fits within the navbar height
    max-width: 150px; // Adjust the max width to fit the design
    padding: 5px; // Add some padding for better spacing
}