
<sb-layout-auth>
    <div class="login-container">
      <div class="login-content">
        <!-- Left Side: Branding -->
        <div class="left-card">
          <img src="assets/img/logo-2024.png" alt="Welcome Image" class="login-image" />
          <h2>Welcome Back!</h2>
          <p class="welcome-text">
            Join us and accelerate your digital transformation.
          </p>
        </div>
  
        <!-- Right Side: Login Form -->
        <div class="right-card">
          <div class="login-card">
            <div class="card-header">
              <h3 class="login-title">Sign In</h3>
              <p class="subtitle">Access your account</p>
            </div>
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- Email Input -->
                <div class="input-container">
                  <input class="form-control" id="inputEmailAddress" type="email" placeholder="Email" formControlName="email" required />
                </div>
  
                <!-- Password Input -->
                <div class="input-container">
                  <input class="form-control" id="inputPassword" type="password" placeholder="Password" formControlName="password" required />
                </div>
  
                <!-- Remember Me Checkbox -->
                <div class="options">
                  <div class="remember-me">
                    <input class="custom-checkbox" id="rememberPasswordCheck" type="checkbox" />
                    <label for="rememberPasswordCheck">Remember me</label>
                  </div>
                  <a class="forgot-password" routerLink="/auth/forgot-password">Forgot Password?</a>
                </div>
  
                <!-- Login Button -->
                <button mat-flat-button color="primary" class="btn-login">Login</button>
              </form>
            </div>
  
            <!-- Signup Link -->
            <div class="card-footer">
              <p class="signup-text">Don't have an account? <a routerLink="/auth/register">Sign up</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </sb-layout-auth>
  